##ejercicio 1 
#Dadas dos series que representan cantidades

In [1]:
import pandas as pd

In [2]:
cantidades_prod1 = pd.Series([3, 7, 1], index=['local_a', 'local_b', 'local_c'])
cantidades_prod2 = pd.Series([54, 70, 985], index=['local_a', 'local_b', 'local_c'])

In [3]:
display(cantidades_prod1.head())

local_a    3
local_b    7
local_c    1
dtype: int64

In [4]:
cantidades_prod2

local_a     54
local_b     70
local_c    985
dtype: int64

In [5]:
#¿Que cantidad de prod 2?
cantidades_prod2['local_b']

70

In [6]:
#usando iloc obtener la suma de prod1 en local_a y local_c
cantidades_prod1.iloc[::2].sum()

4

In [7]:
#usando index responder ¿que local corresponde al indice 1 de cantidades_prod1
cantidades_prod1.index[1]

'local_b'

#Ejercicio 2

In [22]:
#Construir una instancia de DataFrame usando las dos series del ejercicio anterior como columnas.
data_cantidades = pd.DataFrame([cantidades_prod1,cantidades_prod2],columns=['local_a','local_b','local_c'],index=['cantidades_prod1','cantidades_prod2']).transpose()
data_cantidades

         cantidades_prod1  cantidades_prod2
local_a                 3                54
local_b                 7                70
local_c                 1               985

In [23]:
#Agregar al dataframe del paso anterior la columna 'total' cuyos datos sean el resultado de sumar las columnas 'cantidades_prod1' y 'cantidades_prod2'
data_cantidades['totales']=data_cantidades.sum(axis=1)
data_cantidades

         cantidades_prod1  cantidades_prod2  totales
local_a                 3                54       57
local_b                 7                70       77
local_c                 1               985      986

In [24]:
#Mostrar los primeros dos registros de ese dataframe
data_cantidades.head()

         cantidades_prod1  cantidades_prod2  totales
local_a                 3                54       57
local_b                 7                70       77
local_c                 1               985      986

In [26]:
#Mostrar los últimos dos registros de ese dataframe
data_cantidades.tail()

         cantidades_prod1  cantidades_prod2  totales
local_a                 3                54       57
local_b                 7                70       77
local_c                 1               985      986

In [31]:
#Obtener los nombres de locales que tengan en total más de 60 productos
mascara = data_cantidades['totales'] > 60
data_cantidades[mascara]

         cantidades_prod1  cantidades_prod2  totales
local_b                 7                70       77
local_c                 1               985      986